body {
    background-color: rgb(198, 195, 231) ;
}


.entry {
    text-align: center;
}

form{

  font-size: 1.5em;

}

h2 {

  font-size: 3em;
}

#change{

font-size: 1.5em;

}

#head {

    

    position: relative;
    z-index: 2;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
 



    align-items: center;
    display: flex;
    flex-direction: column;
 
}

.alert {
  padding: 15px;
  background-color: #3408f7;
  color: white;
  border-radius: 5px;
}

.closebtn:hover {
  color: rgb(255, 212, 94);
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#background {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(90deg, lightgray, gray); 
    z-index: 1;
}

.column {
    width:50%;
    float: left;
text-align: center;


}

img.photos {
max-width: 125px;
    padding: .5rem;
    transition: transform .2s; 
  }
  
  img.photos:hover {
    transform: scale(1.6);
    cursor: pointer;
  }

/* OVERLAY ICON */
 img.over1, img.over2, img.over3, img.over4, img.over5, img.over6, img.over7, img.over8, img.over9, img.over10, img.over11, img.over12{

    max-width: 8rem;

}

  .signspawn{
    position: relative;
  left: 45%;
 

}
 .over2, .over3, .over4, .over5, .over6, .over7, .over8, .over9, .over10, .over11, .over12{
    position: absolute;
    top: 0%;
    left: 0%;
    
}

#over1, #over2, #over3, #over4, #over5, #over6, #over7, #over8, #over9, #over10, #over11, #over12 {
  opacity: 0;
}



